            .navbar {
                list-style:none;
                 background-color:black;
                 overflow:hidden;
                 padding:0px;}

            .navbar a, .dropdown div {
                text-decoration:none;
                 color:white;
                  font-size:24px;
                   padding:16px;
                    display:inline-block;
                    list-style:none;}

            .navbar li {
                float:left;}

            * {
                padding:0;
                 margin:0;
                font-family: Indie Flower;}

            .navbar li:hover {
                background-image: linear-gradient(#17b3ab, #560a6b, #ff4400);}

            .dropdown-content li {
                float:none;
               }
            .dropdown-content {
                padding:0;
                display:none;
                position:absolute;
                z-index:100;
                background-color:black;}

            .dropdown:hover .dropdown-content{
                display:block;
                list-style:none;}

            .active {
                background-image: linear-gradient(#17b3ab, #560a6b, #ff4400);}

            body {
                background-image: white;
            }

            .center {
                text-align-last: center;
                display: block;
                padding-left:25%;
                padding-right:25%;
                }

            .left {
                float:left;
                }

            .right {
                float:right;
                }

            img {
                max-width: 300px;
                max-height: 580px;
                height: 580px;
                width:300px;
                padding:0px;}

            table, th, td {
                border: 6px solid cyan;
                }

            .text {font-size: 24px;
            text-align: center;}

            .contact {font: size 24px;
            font-weight: bold;
            list-style-type: none;}

            .text-list {font-size: 24px;}